#photoPanelContainer {
	height: 100vh;
}

#photoPanelContent {
	height: 100vh;
	.left-col {
		//background-color: #99DDFF;
		//background-color: #3FD2C7;
		//color: #00458B;
	}
	#previewImage {
		height: auto;
		width: 100%;
	}
}
