#photoPanelContainer {
	height: 100vh;
}

#photoPanelContent {
	height: 100vh;
	.previewRow {
		height: 20vh;
		div {
			border: solid;
		}
		.rowImage {
			display: flex;
			justify-content: center;
			align-items: center;
			.rowImg {
				height: auto;
				width: 100%;
			}	
		}
	}	
	#previewRowOne {
		height: 20vh;
	}
	#previewRowTwo {
		height: 20vh;	
	}
	#previewImage {
		height: auto;
		width: 100%;
	}
}


