<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <%- include('../partials/header') %>


        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <% if (currentUser) { %> 
                        <h1>Hello, <%= currentUser.firstName %> </h1>
                    <% } else { %> 
                        <h1>Hello User</h1>
                    <% } %> 
                </div>
            </div>
        </div>

        <%- include('../partials/footer') %>
    </body>
</html>
